.home {
  .compare {
    display: inline-block;
    font-size: 1rem;
    width: 250px;
    input {
      font-family: FontAwesome;
      width: 200px;
    }
    a {
      margin-left: 1rem;
    }
  }

  button {
    margin-bottom: 0;
  }

  h1 {
    font-size: 2.8rem;

    .compare {
      float: right;
      margin-top: 0.3rem;
      margin-left: 1rem;
      margin-right: -3rem;
    }

    button {
      margin-left: 2rem;
      margin-bottom: 1rem;
    }

    .btn-right {
      float: right;
    }
  }

  h2 {
    font-size: 1.6rem;
  }
  
  h3 {
    font-size: 1.2rem;
  }
  
  h4 {
    font-size: 1rem;
  }

  canvas {
    margin-bottom: 3rem;
  }

  .compared-graphs {
    width: 160%;
    margin-left: calc(-30%);
    @include mq {
      width: 100%;
      margin-left: 0;
    }
  }
}