.home {
  h1 {
    font-size: 2.8rem;

    button {
      float: right;
    }
  }

  h2 {
    font-size: 1.6rem;
  }
  
  h3 {
    font-size: 1.2rem;
  }

  canvas {
    margin-bottom: 3rem;
  }

  .compared-graphs {
    width: 160%;
    margin-left: calc(-30%);
    @include mq() {
      width: 100%;
      margin-left: 0;
    }
  }
}