.btn-social {
  width: 100%;

  > :first-child {
    top: 4px;
  }
}

.btn-success {
  background-color: #418a4a;
  border-color: #418a4a;
}

.btn-danger {
  background-color: #8a4141;
  border-color: #8a4141;
}